<div class="container">
	<div class="row">
		<div class="col-md-6 offset-3 text-center">
			<div class="about_page">
				<h3>About This Application</h3>
				<p>This Application Make With Ruby On Rails</p>	
			</div>
		</div>
	</div>
</div>